doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Personal Portfolio')
        meta(name='author' content='Humraj Gill')

        title Portfolio - Humraj Gill

        link(rel='icon' type='image/x-icon' href='assets/img/favicon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js' crossorigin='anonymous')
        
        // Dev Icons
        link(href='https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css' rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')

        // AOS CSS
        link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top
        ul(class="bg-bubbles") 
            li 
            li 
            li 
            li  
            li  
            li 
            li 
            li 
            li  
            li 

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Humraj Gill
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/Humraj.jpg' alt='...')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About Me
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Humraj Gill
                    .subheading.mb-3.mt-3
                        //- | -
                        span.text-primary.typed(data-typed-items='Programmer., Software Developer., Software Engineer., Tech Enthusiast., Tech Visionary.')  
                    //- .subheading.mb-5
                    //-     span Aspiring 
                    //-     | Tech Trailblazer 
                    //-     span Eager to Transform 
                    //-     | Ideas 
                    //-     span into 
                    //-     | Impactful
                    //-     span Software Solutions       
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/humrajgill/' target='_blank' title='LinkedIn')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/humrajgill' target='_blank' title='Github')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(data-aos="zoom-in-up" data-aos-duration="1500")
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Freelance
                            ul.mb-0 
                                li Developed highly effective landing pages for real estate, resulting in increased lead conversion rates.
                                li Optimized landing page designs through testing and user feedback, resulting in a decrease in bounce rates and increase in average time spent on the page.
                                li Managed website analytics through to track user behaviour and identify areas for improvement, resulting in increased user engagement and overall satisfaction.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Skills: 
                                span.text-primary Web Development, Optimization, User Experience (UX), Analytics Management, Continuous Improvement, Conversion Rate Optimization (CRO)
                        .flex-shrink-0
                            span.text-primary August 2021 - Present

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(data-aos="zoom-in-up" data-aos-duration="1500")
                        i.fas.fa-link
                        a(href='https://github.com/humrajgill/ImageForgeryApp' target='_blank')
                            .flex-grow-1
                                h3.mb-0 Image Forgery Detection App
                                ul.mb-0 
                                    li Developed, tested, and deployed a web-based application that employs machine learning algorithms to detect image modifications and verify image authenticity.
                                    li Deployed on the AWS cloud platform, ensuring scalability and reliability for users accessing the application.
                                p.resume-section-content-sills.fw-light.mt-3
                                    | Tech Stack:
                                    span.text-primary Python, Node.js, Express.js, AWS, Machine Learning
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(data-aos="zoom-in-up" data-aos-duration="1500")
                        i.fas.fa-link
                        a(href='https://github.com/humrajgill/COMP-4432-GameProject' target='_blank')
                            .flex-grow-1
                                h3.mb-0 Survival Game
                                ul.mb-0
                                    li Developed and implemented innovative multiplayer features using C# scripts and Unity extensions through collaboration and multitasking, resulting in seamless network gameplay experiences for players.
                                    li Increased overall player engagement through the successful implementation of random map generation, anti-cheat measures, and RESTful API integration.
                                    li Led a team of developers in designing and developing a captivating multiplayer survival game showcasing leadership.
                                p.resume-section-content-sills.fw-light.mt-3
                                    | Tech Stack:
                                    span.text-primary C#, Unity, RESTful API, Visual Studio

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(data-aos="zoom-in-up" data-aos-duration="1500")
                        //- i.fas.fa-link
                        //- a(href='https://github.com/humrajgill/' target='_blank')
                        .flex-grow-1
                            h3.mb-0 Web Automation
                            ul.mb-0 
                                li Designed and developed applications, utilizing Selenium for automating tasks like product monitoring and purchasing.
                                li Improved efficiency by reducing manual effort through automation resulting in efficient and reliable automation solutions for purchasing in-demand products.
                                li Utilized Docker to create lightweight microservices.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Tech Stack:
                                span.text-primary Python, Selenium, BeautifulSoup4, Docker

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(data-aos="zoom-in-up" data-aos-duration="1500")
                        i.fas.fa-link
                        a(href='https://github.com/humrajgill/COMP3415TelehealthProject' target='_blank')
                            .flex-grow-1
                                h3.mb-0 Telemedicine System for Remote Residents
                                ul.mb-0 
                                    li Designed and developed a system to address the healthcare challenges faced by isolated communities.
                                    li Implemented in Java and using a MySQL database, the system empowers remote residents to register, upload health data, and receive real-time medical guidance from doctors. Furthermore, it facilitates direct messaging between users and doctors, fostering personalized remote healthcare support.
                                p.resume-section-content-sills.fw-light.mt-3
                                    | Tech Stack:
                                    span.text-primary Java, JavaFX, SQL, PostgreSQL

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5(data-aos="zoom-in-up" data-aos-duration="1500")
                        //- i.fas.fa-link
                        //- a(href='https://github.com/humrajgill/' target='_blank')
                        .flex-grow-1
                            h3.mb-0 Time Series Forecasting: Stock Prices
                            ul.mb-0 
                                li Applied time series analysis techniques to predict stock prices, leveraging historical data and implementing models for accurate forecasting. Utilized advanced algorithms such as recurrent neural networks (RNNs) to capture intricate patterns and trends in financial markets.
                                li Achieved 70% improvement in forecasting accuracy, providing valuable insights for informed investment decisions.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Tech Stack:
                                span.text-primary Python, JupyterLab, pandas, yfinance, scikit-learn
                        //- .flex-shrink-0
                        //-     span.text-primary January 2024 - Present


                    //- Cards
                    .container
                        .row
                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-up" data-aos-duration="1000")
                                .card.h-100
                                    //- a(href='https://github.com/humrajgill/ImageForgeryApp' target='_blank')
                                    //-     img.card-img-top(src='assets/img/projects/project.gif' alt='')
                                    .card-body
                                        i.fas.fa-link
                                        h4.card-title
                                            a(href='https://github.com/humrajgill/ImageForgeryApp' target='_blank') Image Forgery Detection App
                                        p.card-text
                                            li Developed, tested, and deployed a web-based application that employs machine learning algorithms to detect image modifications and verify image authenticity.
                                            li Deployed on the AWS cloud platform, ensuring scalability and reliability for users accessing the application.
                                        p.resume-section-content-sills.fw-light.mt-3
                                            | Tech Stack:
                                            span.text-primary Python, Node.js, Express.js, AWS, Machine Learning
                                        //- p.mt-3 
                                        //-     span.d-lg-block 
                                        //-         a(href='https://www.linkedin.com/company/' target='_blank')
                                        //-             img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/projects/company.png' alt='')
                                                        
                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-up" data-aos-duration="1000")
                                .card.h-100
                                    .card-body
                                        i.fas.fa-link
                                        h4.card-title
                                            a(href='https://github.com/humrajgill/COMP-4432-GameProject' target='_blank') Survival Game
                                        p.card-text
                                            li Developed and implemented innovative multiplayer features using C# scripts and Unity extensions through collaboration and multitasking, resulting in seamless network gameplay experiences for players.
                                            li Increased overall player engagement through the successful implementation of random map generation, anti-cheat measures, and RESTful API integration.
                                            li Led a team of developers in designing and developing a captivating multiplayer survival game showcasing leadership.

                                        p.resume-section-content-sills.fw-light.mt-3
                                            | Tech Stack:
                                            span.text-primary C#, Unity, RESTful API, Visual Studio

                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-up" data-aos-duration="1000")
                                .card.h-100
                                    .card-body
                                        h4.card-title
                                            a Web Automation
                                        p.card-text
                                            li Designed and developed applications, utilizing Selenium for automating tasks like product monitoring and purchasing.
                                            li Improved efficiency by reducing manual effort through automation resulting in efficient and reliable automation solutions for purchasing in-demand products.
                                            li Utilized Docker to create lightweight microservices.
                                        p.resume-section-content-sills.fw-light.mt-3
                                            | Tech Stack:
                                            span.text-primary Python, Selenium, BeautifulSoup4, Docker


                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-up" data-aos-duration="1000")
                                .card.h-100
                                    .card-body
                                        i.fas.fa-link
                                        h4.card-title
                                            a(href='https://github.com/humrajgill/COMP3415TelehealthProject' target='_blank') Telemedicine System for Remote Residents
                                        p.card-text
                                            li Designed and developed a system to address the healthcare challenges faced by isolated communities.
                                            li Implemented in Java and using a MySQL database, the system empowers remote residents to register, upload health data, and receive real-time medical guidance from doctors. Furthermore, it facilitates direct messaging between users and doctors, fostering personalized remote healthcare support.
                                        p.resume-section-content-sills.fw-light.mt-3
                                            | Tech Stack:
                                            span.text-primary Java, JavaFX, SQL, PostgreSQL


                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-up" data-aos-duration="1000")
                                .card.h-100
                                    .card-body
                                        h4.card-title
                                            a Time Series Forecasting: Stock Prices
                                        p.card-text
                                            li Applied time series analysis techniques to predict stock prices, leveraging historical data and implementing models for accurate forecasting. Utilized advanced algorithms such as recurrent neural networks (RNNs) to capture intricate patterns and trends in financial markets.
                                            li Achieved 70% improvement in forecasting accuracy, providing valuable insights for informed investment decisions.
                                        p.resume-section-content-sills.fw-light.mt-3
                                            | Tech Stack:
                                            span.text-primary Python, JupyterLab, pandas, yfinance, scikit-learn
                                                
            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education
                    .container
                        .row.hcf-isotope-grid.justify-content-center.g-5
                            .col-md-4.hcf-isotope-item(data-aos="fade-right" data-aos-duration="1000")
                                .lc-block
                                    img.img-fluid.img-thumbnail.d-none.d-md-block(src='assets/img/lakehead.jpg' alt='')
                            .col-md-8.hcf-isotope-item(data-aos="fade-left" data-aos-duration="1000")
                                .lc-block
                                    h3.mb-0 Lakehead University
                                    .subheading.mb-3 Honours Bachelors of Science in Computer Science
                                    span.text-primary September 2018 - May 2023
                                    p 
                                        | First Class Standing
                                        
                                    p.lead
                                        | Relevant Courses:
                                        li Algorithm Design & Analysis, Cloud Computing, Computer Networks & Distributed Systems, Cryptography & Network Security, Data Structures 
                                        li Database Management Systems, Game Programming, Computer Architecture, Mobile Computing Technology
                                        li Object-Oriented Programming, Operating Systems, Programming Languages, Software Engineering, Topics in Artificial Intelligence
                                        
                                    p.lead
                                        | Relevant Coursework:
                                        li Machine Learning, Deep Learning, Big Data, Natural Language Processing
                                    p.lead
                                        | Activities and societies:
                                    p 
                                        | A consistent volunteer for multiple campus events, clubs and departments.         

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    div(data-aos="zoom-in-up" data-aos-duration="1000")
                        .subheading.mb-3(data-aos="fade-left" data-aos-duration="1000") Programming Languages
                        ul.list-inline.dev-icons
                            li.list-inline-item.dev-icon
                                //- For descriptions: (data-bs-content="Readable and expressive.") 
                                a.devicon-python-plain(tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Python")
                            li.list-inline-item.dev-icon 
                                a.devicon-java-plain(tabindex="1" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Java")
                            li.list-inline-item.dev-icon
                                a.devicon-cplusplus-plain(tabindex="2" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="C++")
                            li.list-inline-item.dev-icon
                                a.devicon-csharp-plain(tabindex="3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="C#")
                            li.list-inline-item.dev-icon
                                a.devicon-html5-plain(tabindex="4" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="HTML5")
                            li.list-inline-item.dev-icon
                                a.devicon-css3-plain(tabindex="5" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="CSS")
                            li.list-inline-item.dev-icon
                                a.devicon-javascript-plain(tabindex="6" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="JavaScript")
                            li.list-inline-item.dev-icon
                                a.devicon-react-plain(tabindex="7" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="React")
                            li.list-inline-item.dev-icon
                                a.devicon-kotlin-plain(tabindex="9" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Kotlin")
                    
                    div(data-aos="zoom-in-up" data-aos-duration="1000")
                        .subheading.mb-3(data-aos="fade-left" data-aos-duration="1000") Libraries & Platforms
                        ul.list-inline.dev-icons
                            li.list-inline-item.dev-icon
                                a.devicon-bootstrap-plain(tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Bootstrap")
                            li.list-inline-item.dev-icon
                                a.devicon-numpy-original(tabindex="1" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Numpy")
                            li.list-inline-item.dev-icon
                                a.devicon-pandas-original(tabindex="2" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Pandas")       
                            li.list-inline-item.dev-icon
                                a.devicon-pytorch-original(tabindex="3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Pytorch")
                            li.list-inline-item.dev-icon
                                a.devicon-tensorflow-original(tabindex="4" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Tensorflow")
                    
                        ul.list-inline.dev-icons
                            li.list-inline-item.dev-icon
                                a.devicon-jira-plain(tabindex="5" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Jira")
                            li.list-inline-item.dev-icon
                                a.devicon-git-plain(tabindex="6" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Git")
                            li.list-inline-item.dev-icon
                                a.devicon-jenkins-plain(tabindex="7" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Jenkins")

                        ul.list-inline.dev-icons
                            li.list-inline-item.dev-icon
                                a.devicon-mysql-plain(tabindex="8" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="MySQL")
                            li.list-inline-item.dev-icon
                                a.devicon-sqlite-plain(tabindex="9" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="SQLIte")
                            li.list-inline-item.dev-icon
                                a.devicon-mongodb-plain(tabindex="10" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="MongoDB")

                        ul.list-inline.dev-icons
                            li.list-inline-item.dev-icon
                                a.devicon-amazonwebservices-plain-wordmark(tabindex="11" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="AWS")
                            li.list-inline-item.dev-icon
                                a.devicon-azure-plain(tabindex="12" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="Azure")

                        ul.list-inline.dev-icons
                            li.list-inline-item.dev-icon
                                a.devicon-windows11-plain(tabindex="13" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-title="AWS")
                            

                    div(data-aos="zoom-in-up" data-aos-duration="1000")            
                        .subheading.mb-3(data-aos="zoom-in-up" data-aos-duration="1000") Strengths
                        ul.fa-ul.mb-3
                            li 
                                span.fa-li 
                                    i.fas-fa-lightbulb
                                | Ability to analyze complex problems and devise efficient, elegant solutions.
                            li 
                                span.fa-li 
                                    i.fas-fa-gears
                                | Capacity to learn and adapt quickly to new technologies and frameworks.
                            li
                                span.fa-li
                                    i.fas.fa-users
                                | Effective communication and collaboration skills to work seamlessly within development teams.
                            li
                                span.fa-li
                                    i.fas.fa-magnifying-glass
                                | Identifying and resolving bugs, errors, and performance issues.
                            li
                                span.fa-li
                                    i.fas.fa-user-graduate
                                | Commitment to ongoing learning and staying updated with industry trends and best practices.

            hr.m-0

            footer.p-5.text-center.position-relative
                .container
                    p.lead Copyright &copy; 2024 Humraj Gill
                    |         
                    a.position-abusolute.bottom-0.end-0.p-5(href='#')
                        i.fa-solid.fa-circle-arrow-up.fa-2xl

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // AOS JS
        script(src='https://unpkg.com/aos@2.3.1/dist/aos.js') 

        // Typed JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.16/typed.umd.js') 

        // Isotope JS
        script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js') 

        // Core theme JS
        script(src='js/scripts.js')
