// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system
$purple: #755686;
$light-green: #718e4c;
$dark-green: #1a6c84;
$lavender: #bfbfbf;
$subtle-green: #f2ffec;

// Override Bootstrap default state colors

$primary: #005db4;

// Icon color
$icon-color: $gray-800;


$background-color-primary: #8EB8E5;
$background-color-secondary: $gray-800;